# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# VSCode
.vscode/

# Environments
.venv/
.env
.env.test

# Test/coverage
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Docker
*.log
docker-compose.override.yml

# Misc
*.sqlite3
*.db
*.DS_Store
